<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DataBaseAccess.Properties.Settings.Original_DataBaseConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Original DataBase.accdb&quot;" providerName="System.Data.OleDb" />
    <add name="VNNG2011.Properties.Settings.WPF_DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\VNNG2011\WPF DB.accdb&quot;" providerName="System.Data.OleDb" />
    <add name="WpfDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JENIA-PC\SQLEXPRESS;Initial Catalog=WpfDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>